Source: kodi-pvr-mythtv-isengard
Priority: extra
Maintainer: janbar <jlbarriere68@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/janbar/pvr.mythtv

Package: kodi-pvr-mythtv-isengard
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MythTV PVR for Kodi
 MythTV PVR addon for Kodi

Package: kodi-pvr-mythtv-isengard-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}
Description: debug symbols for MythTV PVR for Kodi
 debug symbols for MythTV PVR addon for Kodi

